:root {
  --highlight-color: #8545b0;
  --highlight-color: #550f85;
  --main-text-color: #292E1E;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato/Lato-Regular.ttf");
}

body {
  font-family: "Lato";
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.5;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 200px 1fr;
  color: #fff;
}

header {
  background-color: var(--highlight-color);
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-end;
  height: 70px;
  box-shadow: 2px 2px 2px rgb(0 0 0 / .5);
}

nav {
  display: flex;
  align-items: center;
}

header ul {
  list-style-type: none;
  display: flex;
  margin-right: 20px;
  gap: 10px;
}

header button {
  background: none;
  border: none;
  color: inherit;
  text-decoration: underline;
}

.sidebar {
  background-color: var(--highlight-color);
  grid-area: 1 / 1 / 5 / 2;
  box-shadow: 2px 2px 2px rgb(85 15 133 / .5);

}

.user-name-container {
  display: flex;
  padding: 15px 30px;
  gap: 5px;
}

.user-name {
  font-weight: 700;
  font-size: 1.2rem;
}

.profile-picture {
  border-radius: 50%;
}

.sidebar-content {
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center;
}

.sidebar-content ul {
  display: grid;
  grid-template: auto / auto;
  list-style-type: none;
}

.sidebar-content button {
  max-width: 200px;
  background: none;
  width: 100%;
  color: #fff;
  border: 2px solid var(--highlight-color);
  padding: 8px 12px;
  border-radius: 20px;
}

.sidebar-content button:hover {
  background-color: rgb(255 255 255 / .2);
  transition: background-color 0.3s ease;
}

.active {
  font-weight: 700;
  border: 2px solid #fff !important;
  box-shadow: 2px 2px 2px rgb(0 0 0 / .2);
}

.active::before {
  content: "> ";
}

/* .projects-list li p { */
/*   justify-self: end; */
/* } */
/**/
/* .projects-list button { */
/*   background: none; */
/*   color: #fff; */
/*   box-shadow: none; */
/*   font-size: 1.1rem; */
/*   padding: 0; */
/*   margin: 0; */
/* } */
/**/

main {
  color: var(--main-text-color);

}

h1 {
  padding: 20px 50px;
}

.tool-bar {
  display: grid;
  grid-template: auto / 1fr auto auto;
  align-content: center;
  gap: 10px;
  padding: 0 4vw 0 20px;
}

main hr {
  margin-top: 20px;
}

.tool-bar input {
  padding: 6px 15px;
  border: 2px solid #888;
  border-radius: 20px;
}

.tool-bar button {
  background: none;
  border: none;
  border-radius: 50%;
  height: fit-content;
  width: 30px;
  height: 100%;

  display: flex;
  align-items: center;
}

.tool-bar p {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer {
  grid-area: 4 / 2 / 5 / 3;
  text-align: center;
}

.footer-links {
  background-color: var(--highlight-color);
}

.colors-legend {
  padding: 3px 0 3px 10px;
  color: var(--main-text-color);
  border: none;
  text-align: start;

  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.color-description {
  padding: 0 10px;
  border-radius: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}


.new-todo-button {
  position: fixed;
  z-index: 9999;
  right: 5px;
  bottom: 38px;
  font-size: 2rem;
  padding: 3px 12px;
  background-color: var(--highlight-color);
  color: #fff;
  border: none;
  border-radius: 30px;
  border: 2px solid #fff;
}

/* Form related styles */

dialog {
  place-self: center;
  padding: 30px 60px;
  border-radius: 20px;
  font-size: 1.3rem;
  color: #fff;
  background-color: var(--highlight-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / .4);
}


form input,
form select {
  border-radius: 10px;
  border: none;
  padding: 3px 8px;
}

fieldset {
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / .3);
}

label {
  font-weight: 600;
  margin-bottom: 5px;
}

legend {
  text-align: center;
  font-weight: 700;
  padding: 0 10px;
}

form p {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

textarea {
  min-width: 500px;
  min-height: 150px;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: .9rem;
}

fieldset.buttons {
  display: flex;
  justify-content: space-evenly;
  border: none;
  box-shadow: none;
}

form button {
  background-color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / .3);
}

button,
textarea,
input,
select,
option,
label {
  font-size: inherit;
}

/* Todo cards related styles */
.todos-container {
  display: grid;
  grid-template: auto / 1fr;
  gap: 5px;
  padding: 5px;
  margin-bottom: 30px;
}

.todo-card {
  border: 4px solid var(--highlight-color);
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / .3);
  display: grid;
  grid-template: auto 1fr auto / auto;
}

h3 {
  background-color: var(--highlight-color);
  padding: 6px;
  border-radius: 12px 12px 0 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.todo-description,
.card-tool-bar {
  padding: 6px;
}

.todo-description,
.sidebar-content li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  transition: all 0.3s ease;
}

.expanded {
  white-space: pre-wrap;
  overflow: visible;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.card-tool-bar {
  border-top: 2px solid var(--highlight-color);
  display: grid;
  grid-template: auto / 1fr auto;
  border-radius: 0 0 12px 12px;
}

.todo-card-buttons {
  display: flex;
  gap: 8px;
  margin-right: 5px;
}

.todo-card span {
  display: flex;
  align-items: center;
}

.todo-card-buttons button {
  background-color: #fff;
  color: inherit;
  padding: 8px 16px;
  border: none;
  border-radius: 9px;
}

.todo-card-buttons input[type="checkbox"] {
  margin: 0 5px;
  transform: scale(2);
}

.high,
.red {
  background-color: rgb(240 41 84 / .3);
}

.medium,
.yellow {
  background-color: rgb(240 194 41 / .3);
}

.low,
.green {
  background-color: rgb(41 240 127 / .3);
}

.complete,
.blue {
  background-color: rgb(41 150 240 / .3) !important;
}

.overdue,
.gray {
  background: rgb(0 0 0 / 0.2);
}
